<control-icons></control-icons>

<div class="w3-container">
  <div class="w3-light-grey w3-tiny progress-container">
    <div class="w3-container w3-green progress-bar" style="width:25%">25%</div>
  </div>
</div>

<div class="create-job-input-1">

  <input type="text" placeholder="Job Name">

  <select id="job_category" name="Job Category">
    <option value="" disabled selected hidden>Select an job category</option>
    <option value="">A</option>
    <option value="">B</option>
    <option value="">C</option>
  </select>

  <select id="unit" name="Unit">
    <option value="" disabled selected hidden>Select an unit</option>
    <option value="">A</option>
    <option value="">B</option>
    <option value="">C</option>
  </select>

  <select id="address" name="address">
    <option value="" disabled selected hidden>Select an address</option>
    <option value="A">A</option>
    <option value="B">B</option>
    <option value="C">C</option>
  </select>

  <input type="number" placeholder="amount of positions">

  <div class="checkbox-container">
    <label>
      <input type="checkbox" name="OpenBase">
      Open Base
    </label>
    <label>
      <input type="checkbox" name="ClosedBase">
      Closed Base
    </label>
  </div>

</div>
