/* =============================
   Progress Bar Section
============================= */
.progress-container {
  direction: rtl;
  margin-top: 100px;
  border-radius: 15px;
  overflow: hidden;
  border: 0.5px solid black;
}

.progress-bar {
  text-align: left;
  direction: ltr;
  border-radius: 15px;
}

/* =============================
   Job Input 1 Section
============================= */

.create-job-input-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 45vh;
  width: 100vw;
}

input[type=text], input[type=password], input[type=number], select {
  width: 500px;
  max-width: 500px;
  height: 50px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

.checkbox-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

/* =============================
   Job Input 2 Section
============================= */

/* =============================
   Job Input 3 Section
============================= */

/* =============================
   Job Input Completion Section
============================= */

/* =============================
   Next Button Section
============================= */

.next-button {
  width: 200px;
  height: 50px;
  background-color: grey;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: not-allowed;
  position: fixed;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
}

.next-button.active {
  background-color: #446BF2;
  cursor: pointer;
}

/* =============================
   Window Size Tranform Section
============================= */

@media (max-width: 400px) {
  .progress-container {
    margin-top: 60px;
  }

  .create-job-input-1 {
    width: 100%;
    max-width: 400px;
    height: auto;
    padding: 20px;
  }

  input[type=text], input[type=password], input[type=number], select {
    width: 100%;
    height: 50px;
  }
}
