<div class="container py-3">
  <!-- Header -->
  <div class="d-flex justify-content-center align-items-center mb-3" style="font-weight: bold;">
    <span class="text-muted">interview | יונתן כהן</span>
  </div>

  <div class="card mb-4" style="height: 120px;">
    <div class="card-body d-flex align-items-center justify-content-end">
      <div class="me-2 text-end">
        <h5 class="mb-0">{{ candidate?.fullName }}</h5>
        <small>{{ candidate?.idNumber }}</small>
      </div>
      <div class="rounded-circle overflow-hidden" style="width: 60px; height: 60px;">
        <div class="profile-image-container">
          <img [src]="candidate?.imageUrl"
              alt="Profile picture"
              class="profile-image"
              onerror="this.src='assets/images/on.svg'">
        </div>
      </div>
    </div>
  </div>

  <!-- Text Area -->
  <div class="form-group mb-4">
    <textarea
      class="form-control"
      rows="8"
      placeholder="הקלד על החייל, הכרה הראשונית, השפעה.
מורלים, האם החייל עבר בעבודה הקודמת דברים דומים, האם יש חוזקים שיש לו ניסיון, ידע או ניסיון בטכנולוגיות, ויכולת להדריך עצמאית.
מה הביא את החייל לבחור לשרת בצה״ל"
      [(ngModel)]="interviewNotes"
      dir="rtl"
    ></textarea>
  </div>

  <!-- Save Button -->
  <button class="btn btn-primary w-100">Save</button>
  <button class="btn btn-secondary w-100" (click)="goBack()">Back</button>
</div>
