nav {
  margin-top: 80px;
}

.text-brown {
  color: brown;
}

.edit-button {
  cursor: pointer;
  min-width: 20px;
}

.cursor-pointer {
  cursor: pointer;
}

@media (max-width: 400px) {
  nav {
    margin-top: 60px;
  }

  .nav {
    flex-wrap: nowrap;
    gap: 2px;
  }

  .nav-item {
    font-size: 10px !important;
    padding: 0 2px;
    width: auto;
  }

  .nav-link {
    font-size: 10px !important;
  }
}
