<div class="min-vh-100">
  <!-- Header -->
  <header class="text-white py-4 mt-6">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 text-center">
          <div class="d-flex justify-content-center align-items-center">
            <div class="me-4" style="margin-top: 50px;">
              <h1 class="h5 mb-0" style="font-family: 'Heebo', sans-serif;">{{ job?.jobName }}</h1>
              <p class="small mb-0" style="font-family: 'Heebo', sans-serif;">{{ job?.unit }}</p>
            </div>
            <img class="cursor-pointer" src="assets/images/back.svg" alt="Back" style="margin-top: 50px; width: 30px; height: 30px; filter: brightness(0) invert(1);" (click)="goBack()">
          </div>
        </div>
      </div>
    </div>
  </header>

<!-- Navigation -->
<nav class="border-bottom mt-6">
  <div class="container">
    <ul class="nav nav-tabs justify-content-center d-flex align-items-center">
      <li class="nav-item">
        <a class="nav-link active text-primary border-bottom border-primary border-3 cursor-pointer" (click)="goBack()">მთავარი</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary cursor-pointer" (click)="goToCandidates()">კანდიდატები</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary cursor-pointer" (click)="gotToPreferableCandidates()">შესაფერისები</a>
      </li>
    </ul>
  </div>
</nav>

  <!-- Main Content -->
  <main class="container py-4">
    <div class="card shadow-sm">
      <div class="card-body">
        <!-- Location and Candidate Count -->
        <div class="row mb-4">
          <div class="col-6 d-flex align-items-center gap-2">
            <i class="bi bi-geo-alt text-secondary"></i>
            <span class="text-secondary">{{ job?.address }}</span>
          </div>
          <div class="col-6 text-end d-flex align-items-center justify-content-end gap-2">
            <i class="bi bi-people text-secondary"></i>
            <span class="text-secondary">რაოდ: {{ job?.candidateCount }}</span>
          </div>
        </div>

       <!-- Job Status and Questions -->
       <div class="row">
        <div class="col-12 col-md-6 d-flex align-items-center gap-2 mb-3">
          <img class="cursor-pointer" src="/assets/images/edit.svg" alt="edit icon" (click)="openJobPopup()">
          <span class="text-secondary">Job status:</span>
          <span [ngClass]="isJobOpen(job!) ? 'text-success' : 'text-brown'">
            {{ job?.status }}
          </span>
        </div>
          <div class="col-12 col-md-6 text-md-end">
            <a href="#" class="text-primary text-decoration-none">
              Questions and answers
            </a>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<commander-job-edit-popup #popup></commander-job-edit-popup>
