<div class="img-on">
  <img src="/assets/on.svg" alt="on" class="img-fluid">
</div>

<div class="login-header-text d-flex justify-content-center align-items-center position-absolute top-10 start-50 translate-middle-x z-index-1">
  <h1 class="m-0 me-2" style="font-size: 1.5rem;">Welcome to</h1>
  <h1 class="m-0" style="color: #3EC99C; font-size: 1.5rem;">גיוס</h1>
</div>

<div class="login-input d-flex flex-column justify-content-center align-items-center position-absolute top-50 start-50 translate-middle z-index-1">
  <input type="text" class="form-control mb-3" placeholder="Username">
  <input type="password" class="form-control mb-3" placeholder="Password">
</div>

<div class="forgot text-center position-absolute top-50 start-50 translate-middle z-index-1">
  <a href="#" class="text-decoration-none" style="font-size: 1.7vh; color: #6B4EFF; font-weight: bold;">Forgot Password?</a>
</div>

<div class="position-fixed top-90 start-50 translate-middle-x z-index-1">
  <button class="login-button btn btn-primary btn-lg w-100">Enter</button>
</div>
