<div class="container-fluid position-relative">
  <!-- Logout Button - Positioned Absolutely -->
  <button class="btn btn-link d-flex flex-column align-items-center icon-btn p-2 position-absolute top-0 end-0 mt-5 me-4 exb-right" (click)="Logout()">
    <i class="bi bi-box-arrow-right icon-img-extended"></i>
    <h4 class="text-white fw-light mt-4 mb-0" style="font-family: 'Heebo', sans-serif;">logout</h4>
  </button>

  <div class="row">
    <div class="col-12">
      <h4 class="text-center full_name">{{ candidate?.fullName }}</h4>
      <!-- Icon Buttons Container -->
      <div class="d-flex justify-content-center align-items-center gap-5 sticky-top pt-4 mt-4">
        <!-- New Button -->
        <button class="btn btn-link d-flex flex-column align-items-center icon-btn p-2" [routerLink]="'/create-job'">
          <img src="/assets/images/new.svg" alt="new" class="icon-img">
          <h4 class="text-white fw-light mt-4 mb-0" style="font-family: 'Heebo', sans-serif;">new</h4>
        </button>

        <!-- Closed Button -->
        <button class="btn btn-link d-flex flex-column align-items-center icon-btn p-2" [routerLink]="'/closed-jobs'">
          <img src="/assets/images/closed.svg" alt="closed" class="icon-img">
          <h4 class="text-white fw-light mt-4 mb-0" style="font-family: 'Heebo', sans-serif;">closed</h4>
        </button>

        <!-- Open Button -->
        <button class="btn btn-link d-flex flex-column align-items-center icon-btn p-2" [routerLink]="'/open-jobs'">
          <img src="/assets/images/open.svg" alt="open" class="icon-img">
          <h4 class="text-white fw-light mt-4 mb-0" style="font-family: 'Heebo', sans-serif;">open</h4>
        </button>
      </div>
    </div>
  </div>
</div>
