.icon-btn {
  background: none;
  border: none;
  transition: transform 0.2s ease-in-out;
  text-decoration: none;
}

.exb-right {
  top: 7px !important;
  cursor: pointer;
  z-index: 9999;
}

.icon-btn:hover {
  transform: scale(1.1);
}

.icon-btn:focus {
  outline: none;
  box-shadow: none;
}

.icon-img {
  width: 48px;
  height: auto;
}

.icon-img-extended {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: #D3DDE5;
  border-radius: 50%;
  font-size: 24px;
  color: black;
  line-height: 1;
  transform: translateY(2px);
}

.icon-circle-home {
  width: 48px;
  height: 48px;
  background-color: #D3DDE5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full_name {
  color: white;
  margin-top: 10px;
  margin-bottom: -20px;
}

/* Responsive adjustments */
@media (max-width: 576px) {
  .gap-5 {
    gap: 1.5rem !important;
  }

  .icon-img {
    width: 46px;
  }

  h4 {
    font-size: 0.9rem;
  }

  .exb-right {
    top:-50px !important;
    right: -25px !important;
    transform: scale(0.8);
  }
}

@media (max-width: 400px) {
  .gap-5 {
    gap: 0.5rem !important;
  }

  .icon-img {
    width: 42px;
  }

  h4 {
    font-size: 1rem;
  }

  .icon-img-extended {
    width: 44px;
    height: 44px;
    font-size: 20px;
    color: black;
    line-height: 1;
  }

  .exb-right {
    top: -50px !important;
    right: -25px !important;
    transform: scale(0.7);
  }
}
