.header {
  background-color: var(--background-color);
}

.search-input {
  background-color: lightgray;
  border: none;
  border-radius: 12px;
  margin-top: 10px;
  padding: 15px 40px;
}

.search-input:focus {
  outline: none;
  box-shadow: none;
  background-color: #f8f9fa;
}

.container {
  padding-bottom: 50px;
  height: 100vh;
  overflow-y: auto;
}

.role-card {
  border: 1px solid rgba(0, 0, 0, 0.151);
  padding: 8px 0;
  transition: transform 0.2s;
  cursor: pointer;
  background: transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;
  top: -30px;
}

.flex-grow-1 {
  direction: rtl;
  margin-right: 10px;
}

.role-card:hover {
  transform: translateX(8px);
}

.chevron-icon {
  color: #1c1c1d;
  font-size: 1.6rem;
  opacity: 0.5;
}

.chevron-icon:hover {
  opacity: 1;
}

.chat-icon {
  width: 30px;
  height: 30px;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.filter-button {
  color: #6c757d;
  background: transparent;
  border: none;
  font-size: 0.9rem;
  padding: 8px 16px;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  border-top: 1px solid #dee2e6;
  padding: 12px 0;
  z-index: 1000;
  height: 80px
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Main content wrapper */
.main-content {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 76px;
}

.nav-item {
  text-align: center;
  color: #6c757d;
  text-decoration: none;
}

.nav-item.active {
  color: #0d6efd;
}

.nav-icon {
  font-size: 1.5rem;
  margin-bottom: 4px;
}

.nav-text {
  font-size: 0.8rem;
}

.card-body {
  border-radius: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
