<div class="card-header text-white text-center py-4 rounded-top-4">
  <h2 class="mb-0">UX Designer</h2>
  <p class="mb-0">Technology Unit</p>
</div>
<div class="card rounded-4">
  <div class="card-body p-4 text-right">
    <div class="d-flex justify-content-center align-items-center mb-3 text-center">
      <a href="#" class="text-primary text-decoration-none fw-bold">
        Job<br>Requirements
      </a>
      <span class="mx-2 fw-bold divider">|</span>
      <a href="#" class="text-primary text-decoration-none fw-bold">
        Frequently<br>Asked Questions
      </a>
    </div>
    <div>
      <h5 class="mb-3">Job Description</h5>
      <p>Hardworking guy</p>

      <div class="mb-3">
        <p class="mb-1">It is important that they know</p>
        <p>A lot of motivation</p>
      </div>

      <div class="mb-3">
        <h6>Work experience</h6>
        <p>Software testing course</p>
      </div>

      <div class="mb-3">
        <h6>Education</h6>
        <p>High school</p>
      </div>

      <div class="mb-3">
        <h6>Courses and certifications</h6>
        <p>Software testing course</p>
      </div>

      <div class="mb-4">
        <h6>Software systems and languages</h6>
        <p>JAVA</p>
      </div>

      <div class="text-center">
        <button class="btn btn-primary px-4 rounded-pill" (click)="openPopup()">Apply</button>
      </div>
    </div>
  </div>
</div>

<app-apply-vacancy-popup></app-apply-vacancy-popup>
