<!-- update-job-popup.component.html -->
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': isModalOpen}" [ngStyle]="{'display': isModalOpen ? 'block' : 'none'}">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Update Job Details</h5>
        <button type="button" class="close" (click)="close()">
          <img src="/assets/images/close.svg" alt="Close" />
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="jobName">Job Name</label>
            <input type="text" class="form-control" id="jobName" [(ngModel)]="job.jobName" name="jobName" required>
          </div>
          <div class="form-group">
            <label for="jobCategory">Job Category</label>
            <input type="text" class="form-control" id="jobCategory" [(ngModel)]="job.jobCategory" name="jobCategory" required>
          </div>
          <div class="form-group">
            <label for="jobDescription">Job Description</label>
            <textarea class="form-control" id="jobDescription" [(ngModel)]="job.jobDescription" name="jobDescription" required></textarea>
          </div>
          <div class="form-group">
            <label for="techSkills">Tech Skills</label>
            <input type="text" class="form-control" id="techSkills" [(ngModel)]="job.techSkills" name="techSkills">
          </div>
          <div class="form-group">
            <label for="education">Education</label>
            <input type="text" class="form-control" id="education" [(ngModel)]="job.education" name="education">
          </div>
          <div class="form-group">
            <label for="candidateCount">Number of Candidates</label>
            <input type="number" class="form-control" id="candidateCount" [(ngModel)]="job.candidateCount" name="candidateCount" required>
          </div>
          <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
      </div>
    </div>
  </div>
</div>
