.icon-btn {
  background: none;
  border: none;
  transition: transform 0.2s ease-in-out;
  text-decoration: none;
}

.icon-btn:hover {
  transform: scale(1.1);
}

.icon-btn:focus {
  outline: none;
  box-shadow: none;
}

.icon-img {
  width: 48px;
  height: auto;
}

/* Responsive adjustments */
@media (max-width: 576px) {
  .gap-5 {
    gap: 1.5rem !important;
  }

  .icon-img {
    width: 46px;
  }

  h4 {
    font-size: 0.9rem;
  }
}

@media (max-width: 400px) {
  .gap-5 {
    gap: 2rem !important;
  }

  .icon-img {
    width: 42px;
  }

  h4 {
    font-size: 1rem;
  }
}
