<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <!-- Icon Buttons Container - Added mt-2 for 10px top margin -->
      <div class="d-flex justify-content-center align-items-center gap-5 sticky-top pt-4 mt-4">
        <!-- New Button -->
        <button class="btn btn-link d-flex flex-column align-items-center icon-btn p-2" [routerLink]="'/create-job'">
          <img src="/assets/new.svg" alt="new" class="icon-img">
          <h4 class="text-white fw-light mt-4 mb-0">new</h4>
        </button>

        <!-- Closed Button -->
        <button class="btn btn-link d-flex flex-column align-items-center icon-btn p-2">
          <img src="/assets/closed.svg" alt="closed" class="icon-img">
          <h4 class="text-white fw-light mt-4 mb-0">closed</h4>
        </button>

        <!-- Open Button -->
        <button class="btn btn-link d-flex flex-column align-items-center icon-btn p-2">
          <img src="/assets/open.svg" alt="open" class="icon-img">
          <h4 class="text-white fw-light mt-4 mb-0">open</h4>
        </button>
      </div>
    </div>
  </div>
</div>
