.container {
  margin-top: -20px;
}

.header-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.profile-image-container {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.profile-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-info {
  margin-top: 70px;
  text-align: center;
}

.back-button {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.back-button img {
  width: 30px;
  height: 30px;
  filter: brightness(0) invert(1);
}

.card {
  margin-top: 10px;
}

main {
  padding-top: 180px;
}

.info-rows {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-left: auto;
  width: 80%;
  text-align: right;
}

.info-row {
  animation: moveText 0.5s ease-out forwards;
}

@keyframes moveText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@media (max-width: 400px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  main {
    padding-top: 180px;
  }
}
